USE [master]
GO
IF DB_ID(N'MP_DICRI') IS NULL
BEGIN
    CREATE DATABASE [MP_DICRI];
END
GO

USE [MP_DICRI]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MP_DICRI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MP_DICRI]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Accion] [varchar](200) NOT NULL,
	[TablaAfectada] [varchar](100) NULL,
	[IdRegistroAfectado] [int] NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosExpediente]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosExpediente](
	[IdEstadoExpediente] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expedientes]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expedientes](
	[IdExpediente] [int] IDENTITY(1,1) NOT NULL,
	[NumeroExpediente] [varchar](50) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[IdTecnicoRegistro] [int] NOT NULL,
	[IdEstadoExpediente] [int] NOT NULL,
	[JustificacionRechazo] [varchar](500) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstadosExpediente]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstadosExpediente](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdExpediente] [int] NOT NULL,
	[IdEstadoExpediente] [int] NOT NULL,
	[IdUsuarioAccion] [int] NOT NULL,
	[FechaAccion] [datetime] NOT NULL,
	[Justificacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicios]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicios](
	[IdIndicio] [int] IDENTITY(1,1) NOT NULL,
	[IdExpediente] [int] NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Color] [varchar](100) NULL,
	[Tamano] [varchar](100) NULL,
	[Peso] [decimal](10, 2) NULL,
	[UnidadPeso] [varchar](20) NULL,
	[Ubicacion] [varchar](200) NULL,
	[IdTecnicoRegistro] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIndicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[UsuarioLogin] [varchar](50) NOT NULL,
	[ContraseniaHash] [varbinary](256) NOT NULL,
	[Correo] [varchar](100) NULL,
	[IdRol] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UsuarioLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente] ADD  DEFAULT (getdate()) FOR [FechaAccion]
GO
ALTER TABLE [dbo].[Indicios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Indicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD FOREIGN KEY([IdEstadoExpediente])
REFERENCES [dbo].[EstadosExpediente] ([IdEstadoExpediente])
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD FOREIGN KEY([IdTecnicoRegistro])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente]  WITH CHECK ADD FOREIGN KEY([IdEstadoExpediente])
REFERENCES [dbo].[EstadosExpediente] ([IdEstadoExpediente])
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente]  WITH CHECK ADD FOREIGN KEY([IdExpediente])
REFERENCES [dbo].[Expedientes] ([IdExpediente])
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente]  WITH CHECK ADD FOREIGN KEY([IdUsuarioAccion])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD FOREIGN KEY([IdExpediente])
REFERENCES [dbo].[Expedientes] ([IdExpediente])
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD FOREIGN KEY([IdTecnicoRegistro])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[usp_Auditoria_Listar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Auditoria_Listar]
    @FechaInicio        DATE = NULL,
    @FechaFin           DATE = NULL,
    @IdUsuario          INT = NULL,
    @TablaAfectada      VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT a.IdAuditoria,
           a.Fecha,
           a.Accion,
           a.TablaAfectada,
           a.IdRegistroAfectado,
           u.IdUsuario,
           u.NombreCompleto AS Usuario
    FROM Auditoria a
    INNER JOIN Usuarios u ON a.IdUsuario = u.IdUsuario
    WHERE (@FechaInicio IS NULL OR CAST(a.Fecha AS DATE) >= @FechaInicio)
      AND (@FechaFin    IS NULL OR CAST(a.Fecha AS DATE) <= @FechaFin)
      AND (@IdUsuario   IS NULL OR a.IdUsuario = @IdUsuario)
      AND (@TablaAfectada IS NULL OR a.TablaAfectada = @TablaAfectada)
    ORDER BY a.Fecha DESC, a.IdAuditoria DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Auditoria_ObtenerPorId]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Auditoria_ObtenerPorId]
    @IdAuditoria INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT a.IdAuditoria,
           a.Fecha,
           a.Accion,
           a.TablaAfectada,
           a.IdRegistroAfectado,
           u.IdUsuario,
           u.NombreCompleto AS Usuario
    FROM Auditoria a
    INNER JOIN Usuarios u ON a.IdUsuario = u.IdUsuario
    WHERE a.IdAuditoria = @IdAuditoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Auditoria_Registrar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Auditoria_Registrar]
    @IdUsuario          INT,
    @Accion             VARCHAR(200),
    @TablaAfectada      VARCHAR(100) = NULL,
    @IdRegistroAfectado INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validar usuario
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuario AND Activo = 1)
        BEGIN
            THROW 50100, 'No se puede registrar auditoría: el usuario no existe o está inactivo.', 1;
        END

        INSERT INTO Auditoria
        (IdUsuario, Accion, TablaAfectada, IdRegistroAfectado)
        VALUES
        (@IdUsuario, @Accion, @TablaAfectada, @IdRegistroAfectado);
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Expediente_Actualizar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Expediente_Actualizar]
    @IdExpediente  INT,
    @Titulo        VARCHAR(200),
    @Descripcion   VARCHAR(500) = NULL,
    @Activo        BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Expedientes WHERE IdExpediente = @IdExpediente)
        BEGIN
            THROW 50023, 'El expediente especificado no existe.', 1;
        END

        UPDATE Expedientes
        SET Titulo      = @Titulo,
            Descripcion = @Descripcion,
            Activo      = @Activo
        WHERE IdExpediente = @IdExpediente;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Expediente_CambiarEstado]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Expediente_CambiarEstado]
    @IdExpediente       INT,
    @IdEstadoNuevo      INT,
    @IdUsuarioAccion    INT,
    @Justificacion      VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- Validar expediente
        IF NOT EXISTS (SELECT 1 FROM Expedientes WHERE IdExpediente = @IdExpediente)
        BEGIN
            THROW 50024, 'El expediente indicado no existe.', 1;
        END

        -- Validar estado nuevo
        IF NOT EXISTS (SELECT 1 FROM EstadosExpediente WHERE IdEstadoExpediente = @IdEstadoNuevo)
        BEGIN
            THROW 50025, 'El estado indicado no existe.', 1;
        END

        -- Validar usuario
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuarioAccion AND Activo = 1)
        BEGIN
            THROW 50026, 'El usuario que realiza la acción no existe o está inactivo.', 1;
        END

        -----------------------------------------------------------------------
        -- OBTENER DATOS NECESARIOS
        -----------------------------------------------------------------------
        DECLARE 
            @RolUsuario          VARCHAR(50),
            @IdEstadoActual      INT,
            @IdTecnicoExpediente INT,
            @IdEstadoRegistrado  INT,
            @IdEstadoRechazado   INT,
            @EsPermitido         BIT;

        SET @EsPermitido = 0;

        -- Rol del usuario
        SELECT @RolUsuario = r.NombreRol
        FROM Usuarios u
        INNER JOIN Roles r ON u.IdRol = r.IdRol
        WHERE u.IdUsuario = @IdUsuarioAccion;

        -- Estado actual del expediente y técnico asignado
        SELECT 
            @IdEstadoActual      = e.IdEstadoExpediente,
            @IdTecnicoExpediente = e.IdTecnicoRegistro
        FROM Expedientes e
        WHERE e.IdExpediente = @IdExpediente;

        -- IDs de estados por nombre
        SELECT @IdEstadoRegistrado = IdEstadoExpediente
        FROM EstadosExpediente
        WHERE NombreEstado = 'REGISTRADO';

        SELECT @IdEstadoRechazado = IdEstadoExpediente
        FROM EstadosExpediente
        WHERE NombreEstado = 'RECHAZADO';

        IF @IdEstadoRegistrado IS NULL OR @IdEstadoRechazado IS NULL
        BEGIN
            THROW 50028, 'No se encuentran los estados REGISTRADO o RECHAZADO en el catálogo.', 1;
        END

        -----------------------------------------------------------------------
        -- VALIDACIÓN DE PERMISOS SEGÚN ROL
        --
        --  - COORDINADOR / ADMIN: pueden cambiar cualquier estado.
        --  - TÉCNICO:
        --      * solo RECHAZADO -> REGISTRADO
        --      * solo si es el técnico asignado al expediente.
        -----------------------------------------------------------------------

        -- COORDINADOR / ADMIN -> permitido siempre
        IF @RolUsuario IN ('COORDINADOR', 'ADMIN')
        BEGIN
            SET @EsPermitido = 1;
        END

        -- TÉCNICO -> solo RECHAZADO -> REGISTRADO y su propio expediente
        IF @RolUsuario = 'TECNICO'
        BEGIN
            IF  @IdEstadoActual      = @IdEstadoRechazado
            AND @IdEstadoNuevo       = @IdEstadoRegistrado
            AND @IdTecnicoExpediente = @IdUsuarioAccion
            BEGIN
                SET @EsPermitido = 1;
            END
        END

        -- Si no se marcó permitido, lanzar error
        IF @EsPermitido = 0
        BEGIN
            THROW 50027, 'El usuario no tiene permisos para cambiar el estado del expediente.', 1;
        END

        -----------------------------------------------------------------------
        -- ACTUALIZAR EXPEDIENTE
        -----------------------------------------------------------------------
        UPDATE Expedientes
        SET IdEstadoExpediente = @IdEstadoNuevo,
            JustificacionRechazo = CASE 
                                      WHEN @IdEstadoNuevo = @IdEstadoRechazado 
                                      THEN @Justificacion
                                      ELSE NULL
                                   END
        WHERE IdExpediente = @IdExpediente;

        -----------------------------------------------------------------------
        -- REGISTRAR EN HISTORIAL
        -----------------------------------------------------------------------
        INSERT INTO HistorialEstadosExpediente
            (IdExpediente, IdEstadoExpediente, IdUsuarioAccion, Justificacion)
        VALUES
            (@IdExpediente, @IdEstadoNuevo, @IdUsuarioAccion, @Justificacion);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRAN;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrNum INT = ERROR_NUMBER();

        THROW @ErrNum, @ErrMsg, 1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Expediente_Crear]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Expediente_Crear]
    @NumeroExpediente   VARCHAR(50),
    @Titulo             VARCHAR(200),
    @Descripcion        VARCHAR(500) = NULL,
    @IdTecnicoRegistro  INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- Validar técnico
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdTecnicoRegistro AND Activo = 1)
        BEGIN
            THROW 50020, 'El técnico de registro no existe o está inactivo.', 1;
        END

        -- Validar número de expediente único
        IF EXISTS (SELECT 1 FROM Expedientes WHERE NumeroExpediente = @NumeroExpediente)
        BEGIN
            THROW 50021, 'El número de expediente ya existe.', 1;
        END

        -- Obtener estado REGISTRADO
        DECLARE @IdEstadoRegistrado INT;
        SELECT @IdEstadoRegistrado = IdEstadoExpediente
        FROM EstadosExpediente
        WHERE NombreEstado = 'REGISTRADO';

        IF @IdEstadoRegistrado IS NULL
        BEGIN
            THROW 50022, 'No está configurado el estado REGISTRADO en EstadosExpediente.', 1;
        END

        -- Insertar expediente
        INSERT INTO Expedientes
        (NumeroExpediente, Titulo, Descripcion, IdTecnicoRegistro, IdEstadoExpediente)
        VALUES
        (@NumeroExpediente, @Titulo, @Descripcion, @IdTecnicoRegistro, @IdEstadoRegistrado);

        DECLARE @NuevoIdExpediente INT = SCOPE_IDENTITY();

        -- Insertar historial
        INSERT INTO HistorialEstadosExpediente
        (IdExpediente, IdEstadoExpediente, IdUsuarioAccion, Justificacion)
        VALUES
        (@NuevoIdExpediente, @IdEstadoRegistrado, @IdTecnicoRegistro, 'Creación de expediente');

        COMMIT TRAN;

        SELECT @NuevoIdExpediente AS IdExpedienteCreado;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;

        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Expediente_Listar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Expediente_Listar]
    @FechaInicio       DATE = NULL,
    @FechaFin          DATE = NULL,
    @IdEstadoExpediente INT = NULL,
    @IdTecnico         INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.IdExpediente,
           e.NumeroExpediente,
           e.Titulo,
           e.FechaRegistro,
           e.Activo,
	       e.JustificacionRechazo,
           u.NombreCompleto AS TecnicoRegistro,
           est.NombreEstado
    FROM Expedientes e
    INNER JOIN Usuarios u ON e.IdTecnicoRegistro = u.IdUsuario
    INNER JOIN EstadosExpediente est ON e.IdEstadoExpediente = est.IdEstadoExpediente
    WHERE (@FechaInicio IS NULL OR CAST(e.FechaRegistro AS DATE) >= @FechaInicio)
      AND (@FechaFin    IS NULL OR CAST(e.FechaRegistro AS DATE) <= @FechaFin)
      AND (@IdEstadoExpediente IS NULL OR e.IdEstadoExpediente = @IdEstadoExpediente)
      AND (@IdTecnico IS NULL OR e.IdTecnicoRegistro = @IdTecnico);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Expediente_ObtenerPorId]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Expediente_ObtenerPorId]
    @IdExpediente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.IdExpediente,
           e.NumeroExpediente,
           e.Titulo,
           e.Descripcion,
           e.FechaRegistro,
           e.Activo,
           u.IdUsuario      AS IdTecnicoRegistro,
           u.NombreCompleto AS TecnicoRegistro,
           est.IdEstadoExpediente,
           est.NombreEstado,
           e.JustificacionRechazo
    FROM Expedientes e
    INNER JOIN Usuarios u ON e.IdTecnicoRegistro = u.IdUsuario
    INNER JOIN EstadosExpediente est ON e.IdEstadoExpediente = est.IdEstadoExpediente
    WHERE e.IdExpediente = @IdExpediente;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Indicio_Actualizar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Indicio_Actualizar]
    @IdIndicio   INT,
    @Descripcion VARCHAR(500),
    @Color       VARCHAR(100) = NULL,
    @Tamano      VARCHAR(100) = NULL,
    @Peso        DECIMAL(10,2) = NULL,
    @UnidadPeso  VARCHAR(20) = NULL,
    @Ubicacion   VARCHAR(200) = NULL,
    @Activo      BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Indicios WHERE IdIndicio = @IdIndicio)
        BEGIN
            THROW 50032, 'El indicio indicado no existe.', 1;
        END

        UPDATE Indicios
        SET Descripcion = @Descripcion,
            Color       = @Color,
            Tamano      = @Tamano,
            Peso        = @Peso,
            UnidadPeso  = @UnidadPeso,
            Ubicacion   = @Ubicacion,
            Activo      = @Activo
        WHERE IdIndicio = @IdIndicio;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Indicio_Crear]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Indicio_Crear]
    @IdExpediente       INT,
    @Descripcion        VARCHAR(500),
    @Color              VARCHAR(100) = NULL,
    @Tamano             VARCHAR(100) = NULL,
    @Peso               DECIMAL(10,2) = NULL,
    @UnidadPeso         VARCHAR(20) = NULL,
    @Ubicacion          VARCHAR(200) = NULL,
    @IdTecnicoRegistro  INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- Validar expediente
        IF NOT EXISTS (SELECT 1 FROM Expedientes WHERE IdExpediente = @IdExpediente AND Activo = 1)
        BEGIN
            THROW 50030, 'El expediente para el indicio no existe o está inactivo.', 1;
        END

        -- Validar técnico
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdTecnicoRegistro AND Activo = 1)
        BEGIN
            THROW 50031, 'El técnico que registra el indicio no existe o está inactivo.', 1;
        END

        INSERT INTO Indicios
        (IdExpediente, Descripcion, Color, Tamano, Peso, UnidadPeso, Ubicacion, IdTecnicoRegistro)
        VALUES
        (@IdExpediente, @Descripcion, @Color, @Tamano, @Peso, @UnidadPeso, @Ubicacion, @IdTecnicoRegistro);

        DECLARE @IdIndicioNuevo INT = SCOPE_IDENTITY();

        COMMIT TRAN;

        SELECT @IdIndicioNuevo AS IdIndicioCreado;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Indicio_ListarPorExpediente]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Indicio_ListarPorExpediente]
    @IdExpediente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT i.IdIndicio,
           i.Descripcion,
           i.Color,
           i.Tamano,
           i.Peso,
           i.UnidadPeso,
           i.Ubicacion,
           i.FechaRegistro,
           i.Activo,
           u.NombreCompleto AS TecnicoRegistro
    FROM Indicios i
    INNER JOIN Usuarios u ON i.IdTecnicoRegistro = u.IdUsuario
    WHERE i.IdExpediente = @IdExpediente;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Reporte_ExpedientesPorRango]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Reporte_ExpedientesPorRango]
    @FechaInicio        DATE = NULL,
    @FechaFin           DATE = NULL,
    @IdEstadoExpediente INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.IdExpediente,
           e.NumeroExpediente,
           e.Titulo,
           e.FechaRegistro,
           est.NombreEstado,
           u.NombreCompleto AS TecnicoRegistro
    FROM Expedientes e
    INNER JOIN EstadosExpediente est ON e.IdEstadoExpediente = est.IdEstadoExpediente
    INNER JOIN Usuarios u ON e.IdTecnicoRegistro = u.IdUsuario
    WHERE (@FechaInicio IS NULL OR CAST(e.FechaRegistro AS DATE) >= @FechaInicio)
      AND (@FechaFin    IS NULL OR CAST(e.FechaRegistro AS DATE) <= @FechaFin)
      AND (@IdEstadoExpediente IS NULL OR e.IdEstadoExpediente = @IdEstadoExpediente)
    ORDER BY e.FechaRegistro DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Reporte_ResumenEstados]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Reporte_ResumenEstados]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT est.NombreEstado,
           COUNT(*) AS Cantidad
    FROM Expedientes e
    INNER JOIN EstadosExpediente est ON e.IdEstadoExpediente = est.IdEstadoExpediente
    GROUP BY est.NombreEstado;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Usuario_Actualizar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Usuario_Actualizar]
    @IdUsuario       INT,
    @NombreCompleto  VARCHAR(150),
    @Correo          VARCHAR(100) = NULL,
    @IdRol           INT,
    @Activo          BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuario)
        BEGIN
            THROW 50010, 'El usuario especificado no existe.', 1;
        END

        IF NOT EXISTS (SELECT 1 FROM Roles WHERE IdRol = @IdRol)
        BEGIN
            THROW 50011, 'El rol especificado no existe.', 1;
        END

        UPDATE Usuarios
        SET NombreCompleto = @NombreCompleto,
            Correo         = @Correo,
            IdRol          = @IdRol,
            Activo         = @Activo
        WHERE IdUsuario = @IdUsuario;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Usuario_Crear]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Usuario_Crear]
    @NombreCompleto   VARCHAR(150),
    @UsuarioLogin     VARCHAR(50),
    @ContraseniaHash  VARBINARY(256),
    @Correo           VARCHAR(100) = NULL,
    @IdRol            INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validar que el rol exista
        IF NOT EXISTS (SELECT 1 FROM Roles WHERE IdRol = @IdRol)
        BEGIN
            THROW 50001, 'El rol especificado no existe.', 1;
        END

        -- Validar que no exista el mismo usuario
        IF EXISTS (SELECT 1 FROM Usuarios WHERE UsuarioLogin = @UsuarioLogin)
        BEGIN
            THROW 50002, 'El nombre de usuario ya está en uso.', 1;
        END

        INSERT INTO Usuarios
        (NombreCompleto, UsuarioLogin, ContraseniaHash, Correo, IdRol, Activo)
        VALUES
        (@NombreCompleto, @UsuarioLogin, @ContraseniaHash, @Correo, @IdRol, 1);

        SELECT SCOPE_IDENTITY() AS IdUsuarioCreado;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        THROW @ErrorNumber, @ErrorMsg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Usuario_Listar]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Usuario_Listar]
    @IdRol  INT = NULL,
    @Activo BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.IdUsuario,
           u.NombreCompleto,
           u.UsuarioLogin,
           u.Correo,
           u.Activo,
           u.FechaCreacion,
           r.IdRol,
           r.NombreRol
    FROM Usuarios u
    INNER JOIN Roles r ON u.IdRol = r.IdRol
    WHERE (@IdRol IS NULL OR u.IdRol = @IdRol)
      AND (@Activo IS NULL OR u.Activo = @Activo);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Usuario_ObtenerPorId]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Usuario_ObtenerPorId]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT u.IdUsuario,
           u.NombreCompleto,
           u.UsuarioLogin,
           u.Correo,
           u.Activo,
           u.FechaCreacion,
           r.IdRol,
           r.NombreRol
    FROM Usuarios u
    INNER JOIN Roles r ON u.IdRol = r.IdRol
    WHERE u.IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Usuario_ObtenerPorLogin]    Script Date: 20/11/2025 09:16:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Usuario_ObtenerPorLogin]
    @UsuarioLogin VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        u.IdUsuario,
        u.NombreCompleto,
        u.UsuarioLogin,
        u.ContraseniaHash,
        r.NombreRol
    FROM Usuarios u
    INNER JOIN Roles r ON u.IdRol = r.IdRol
    WHERE u.UsuarioLogin = @UsuarioLogin
      AND u.Activo = 1;
END;
GO
USE [master]
GO
